<div class="footer bg-primary">
    <div class="container px-md-36px px-sm-2">
        <div class="d-flex-sm flex-row-reverse-sm justify-content-between-sm">
            <div class="footer-link d-flex justify-content-between align-items-center align-items-strat-sm pt-6 pt-sm-3 pb-3 pb-sm-0">
                <ul class="footer-menu d-flex justify-content-between flex-wrap">
                    <li><a class="text-decoration-none text-light px-12px px-md-3" href="index.html">首頁</a></li>
                    <li><a class="text-decoration-none text-light px-12px px-md-3" href="shop-optical.html">系列鏡框</a></li>
                    <li><a class="text-decoration-none text-light px-12px px-md-3" href="#">門市據點</a></li>
                    <li><a class="text-decoration-none text-light px-12px px-md-3" href="#">部落格</a></li>
                    <li><a class="text-decoration-none text-light px-12px px-md-3" href="faq.html">常見問題</a></li>
                </ul>
                <ul class="d-flex justify-content-between">
                    <li class="ms-sm-n-4px"><a class="px-2 px-md-1 px-sm-4px" href=""><img class="social-ic" src="../assets/images/ic-social-fb.png" alt="facebook"></a></li>
                    <li><a class="px-2 px-md-1 px-sm-4px" href=""><img class="social-ic" src="../assets/images/ic_social_ig.png" alt="instagram"></a></li>
                    <li class="me-sm-n-4px"><a class="px-2 px-md-1 px-sm-4px" href=""><img class="social-ic" src="../assets/images/ic_social_line.png" alt="line"></a></li>
                </ul>
            </div>
            <ul class="footer-info pt-sm-3">
                <li class="mb-1"><a class="text-decoration-none text-light" href="#">
                    <span class="material-symbols-outlined d-inline-block fs-36px fs-sm-18px  me-2 me-sm-1 phone">phone</span>
                    <span class="d-inline-block fs-18 fs-sm-8">0800-000-000</span></a></li>
                <li><a class="text-decoration-none text-light" href="#">
                    <span class="material-symbols-outlined d-inline-block fs-36px fs-sm-18px  me-2 me-sm-1 mail">mail</span>
                    <span class="d-inline-block fs-18 fs-sm-8">glasses@business.com</span></a></li>
            </ul>
        </div>
        <hr class="my-3">
        <div class="d-flex justify-content-between flex-column-sm text-light pb-4 pb-md-5 pb-sm-3">
            <small class="fs-8 px-1 px-sm-0 mb-sm-2">Copyright © 2020 Glasses.All rights reserved.</small>
            <div class="d-flex-sm flex-column-sm fs-8">
                <small class="px-3 px-sm-0 mb-sm-1 fs-7 fs-sm-8"><a class="text-decoration-none text-light" href="#">隱私權政策</a></small>
                <small class="px-3 px-sm-0 fs-7 fs-sm-8"><a class="text-decoration-none text-light" href="#">服務條款</a></small>
            </div>
        </div>
    </div>
</div>