<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
  <!-- 頁首區塊 -->
    <div class="hero-header">
      <div class="container d-flex flex-column justify-content-center align-items-end py-md-36px">
        <span class="text-info fs-16 fs-sm-8">Promise-Desert 2020 早春系列</span>
        <h2 class="text-info font-weight-bold fs-sm-12">看得清，才能看得遠</h2>
        <a class="btn btn-primary fs-10 font-weight-medium mt-4">立即購買</a>
      </div>
    </div>

  <!-- 亮點區塊 -->
    <div class="bg-secondary container-fluid d-flex justify-content-center ">
      <div class="container py-10 py-sm-5 mx-sm-n-12px px-2 px-md-4 px-sm-2 row justify-content-center">
        <h3 class="font-weight-bold text-info fs-sm-12">用專業的心，做專業的事</h3>
        <ul class="feature d-flex justify-content-between flex-wrap">
          <li class="col-3 col-md-6 col-sm-12 pt-3">
            <div class="feature-icon">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true"
                alt="">
            </div>
            <h5 class="font-weight-bold text-info text-align-center pt-2 pb-1">單一價格</h5>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="col-3 col-md-6 col-sm-12 pt-3">
            <div class="feature-icon">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true"
                alt="">
            </div>
            <h5 class="font-weight-bold text-info text-align-center pt-2 pb-1">20 分鐘即可取件</h5>
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="col-3 col-md-6 col-sm-12 pt-3">
            <div class="feature-icon">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true"
                alt="">
            </div>
            <h5 class="font-weight-bold text-info text-align-center pt-2 pb-1">安心售後服務</h5>
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="col-3 col-md-6 col-sm-12 pt-3">
            <div class="feature-icon">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true"
                alt="">
            </div>
            <h5 class="font-weight-bold text-info text-align-center pt-2 pb-1">關於鏡片</h5>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>

  <!-- 經典區塊 -->
    <div class="classic-series container-fluid container py-10 py-sm-5">
      <h3 class="text-align-center text-info font-weight-bold mb-3 mb-md-0 fs-sm-12">經典系列鏡框</h3>
      <ul class="row">
        <li class="col-4 col-970-12 mt-3">
          <div class="text-align-center">
            <img class="maw-md-416px maw-sm-438px" src="../assets/images/home-section3-1.png" alt="classic_img_1">
          </div>
          <p class="text-align-center text-primary font-family-en font-weight-bold font-style-italic fs-24 mt-1">OPTICAL
          </p>
        </li>
        <li class="col-4 col-970-12 mt-3">
          <div class="text-align-center">
            <img class="maw-md-416px maw-sm-438px" src="../assets/images/home-section3-2.png" alt="classic_img_1">
          </div>
          <p class="text-align-center text-primary font-family-en font-weight-bold font-style-italic fs-24 mt-1">
            SUNGLASSES</p>
        </li>
        <li class="col-4 col-970-12 mt-3">
          <div class="text-align-center">
            <img class="maw-md-416px maw-sm-438px" src="../assets/images/home-section3-3.png" alt="classic_img_1">
          </div>
          <p class="text-align-center text-primary font-family-en font-weight-bold font-style-italic fs-24 mt-1">
            FUNCTIONAL</p>
        </li>
      </ul>
    </div>

<!-- 聯名區塊 -->
    <div class="co-brand co-brand-md co-brand-sm container-fluid">
      <div class="container py-10 py-sm-5">
        <h3 class="text-align-center text-light mb-3 fs-sm-12 font-weight-bold">聯名設計鏡框</h3>
        <ul class="row mt-3">
          <li class="col-6 col-md-12 pt-3 pe-0 px-md-36px">
            <div><img src="../assets/images/home-section4-1.png" alt="co-brand-photo-1"></div>
            <p class="bg-light text-align-center font-weight-bold font-style-italic font-family-en text-primary fs-24">DOUBLE A+</p>
          </li>
          <li class="col-6 col-md-12 pt-3 ps-0 px-md-36px">
            <div><img src="../assets/images/home-section4-2.png" alt="co-brand-photo-1"></div>
            <p class="bg-light text-align-center font-weight-bold font-style-italic font-family-en text-primary fs-24">DOUBLE A+</p>
          </li>
        </ul>
      </div>
    </div>

  <!-- 評論區塊 -->
    <div class="container-fluid">
      <div class="container py-10 py-sm-5 px-md-36px px-sm-0 font-weight-bold">
        <h3 class="text-align-center text-info mb-3 fs-sm-12">顧客推薦</h3>
        <ul class="row mt-3">
          <li class="card col-3 col-md-6 col-sms-12 mt-3">
            <div>
              <img class="card-img-top" src="../assets/images/home-section5-1.png" alt="gust-photo-1">
            </div>
            <div class="card-body">
              <p class="card-title">Jessy</p>
              <p class="card-text">眼鏡品質優良，下次還會想來這邊購買！</p>
              <time class="card-small">2021/06/20</time>
            </div>
          </li>
          <li class="card col-3 col-md-6 col-sms-12 mt-3">
            <div>
              <img class="card-img-top" src="../assets/images/home-section5-2.png" alt="guest-photo-2">
            </div>
            <div class="card-body">
              <p class="card-title">Jessy</p>
              <p class="card-text">眼鏡品質優良，下次還會想來這邊購買！</p>
              <time class="card-small">2021/06/20</time>
            </div>
          </li>
          <li class="card col-3 col-md-6 col-sms-12 mt-3">
            <div>
              <img class="card-img-top" src="../assets/images/home-section5-3.png" alt="guest-photo-3">
            </div>
            <div class="card-body">
              <p class="card-title">Jessy</p>
              <p class="card-text">眼鏡品質優良，下次還會想來這邊購買！</p>
              <time class="card-small">2021/06/20</time>
            </div>
          </li>
          <li class="card col-3 col-md-6 col-sms-12 mt-3">
            <div>
              <img class="card-img-top" src="../assets/images/home-section5-4.png" alt="guest-photo-4">
            </div>
            <div class="card-body">
              <p class="card-title">Jessy</p>
              <p class="card-text">眼鏡品質優良，下次還會想來這邊購買！</p>
              <time class="card-small">2021/06/20</time>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
  <!-- form 區塊 -->
    <div class="container-fluid bg-secondary">
      <div class="container py-10 py-sm-5">
        <form class="px-md-3 px-sm-0" action="">
          <h3 class="mb-3 text-align-center text-info font-weight-bold">聯絡我們</h3>
          <p class="mt-3">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          <label class="mt-2" for="user-name">姓名</p>
          <input class="form-textblock py-5px mt-1" type="text" id="user-name" name="user-name" placeholder="陳小明">
          <label class="mt-2" for="user-phone">連絡電話</p>
          <input class="form-textblock py-3d5px mt-1" type="tel" pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}" required maxlength="12" id="user-phone" name="user-phone" placeholder="0912-345-678">
          <label class="mt-2" for="user-email">電子郵件</p>
          <input class="form-textblock py-3d5px mt-1" type="email" pattern=".+@email\.com" size="30" required id="user-email" name="user-email" placeholder="example@email.com">
          <label class="mt-2" for="suggest">意見反應</p>
          <textarea class="form-textarea py-7px mt-1" name="suggest" id="suggest" rows="5" maxlength="345" placeholder="請輸入您的意見"></textarea>
          <div class="mt-2 mb-3">
            <input type="checkbox" name="check" id="check" value="checked">
            <label for="check">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
          </div>
          <button class="btn-lg btn-primary mt-3" type="submit" value="send">確認送出</button>
        </form>
        
      </div>
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>