<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop_Optical</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="container-fluid container">
        <ul class="row">
            <li class="col-4 text-align-center b-1-gray-200 bb-8-primary tag"><a class="d-block pt-3 pb-2 text-decoration-none text-dark fs-16 fs-md-12 fs-sm-8 font-family-en font-weight-medium" href="./shop-optical.html">OPTICAL</a></li>
            <li class="col-4 text-align-center b-1-gray-200 tag"><a class="d-block py-3 text-decoration-none text-dark fs-16 fs-md-12 fs-sm-8 font-family-en font-weight-medium" href="./shop-sunglasses.html">SUNGLASSES</a></li>
            <li class="col-4 text-align-center b-1-gray-200 tag"><a class="d-block py-3 pb-2 text-decoration-none text-dark fs-16 fs-md-12 fs-sm-8 font-family-en font-weight-medium" href="#">FUNCTIONAL</a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 px-0">
                <img class="d-none-sm" src="../assets/images/product-header-1.png" alt="product-header-img-1">
                <img class="d-none d-block-sm" src="../assets/images/product-header-sm-1.png" alt="product-header-img-sm-1">
            </div>
            <div class="col-6 px-0">
                <img class="d-none-sm" src="../assets/images/product-header-2.png" alt="product-header-img-2">
                <img class="d-none d-block-sm" src="../assets/images/product-header-sm-2.png" alt="product-header-img-sm-2">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container py-10 py-sm-5">
            <h3 class="text-align-center fs-21 fs-sm-12 font-family-en">Celluloid Combi</h3>
            <h4 class="text-align-center fs-sm-12">賽璐珞鈦金屬混合鏡框</h4>
            <div class="row mt-4 mt-sm-3">
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-1.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-2.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-3.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-4.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-5.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-6.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-1.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-2.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-3.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-4.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-5.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
                <div class="col-3 col-lg-6 col-sm-12 px-md-36px px-sm-12px mb-10 mb-md-5 mb-sm-3">
                    <div><img src="../assets/images/product-6.png" alt="product-1-img"></div>
                    <div class="d-flex justify-content-between">
                        <p class="font-family-en fs-12">BJ41600S</p>
                        <p class="font-family-en font-weight-medium fs-12 text-primary">NTD3,490</p>
                    </div>
                    <div class="d-inline-block square-24px-br-4px bg-danger me-1"></div>
                    <div class="d-inline-block square-24px-br-4px bg-warning"></div>
                </div>
            </div>
            <div class="page mt-sm-5 mb-sm-3">
                <div><a class="d-block text-align-center text-decoration-none page-last-next page-border text-gray-600" href="#">上一頁</a></div>
                <div><a class="d-block text-align-center text-decoration-none page-num page-border text-gray-600" href="#">1</a></div>
                <div><a class="d-block text-align-center text-decoration-none page-num page-border text-gray-600" href="#">2</a></div>
                <div><a class="d-block text-align-center text-decoration-none page-num page-border text-gray-600" href="#">3</a></div>
                <div><a class="d-block text-align-center text-decoration-none page-num page-border text-gray-600" href="#">4</a></div>
                <div><a class="d-block text-align-center text-decoration-none page-last-next page-border text-gray-600 bg-gray-100" href="#">下一頁</a></div>
            </div>
        </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>
</html>